.container,
.container_hidden {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 550px;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	border: 2px solid var(--stroke-color);
	background: var(--board-color);

	.offer,
	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 50%;
		width: 100%;
	}

	.offer {
		flex-direction: column;
		text-transform: uppercase;
	}

	.offer h2 {
		font-weight: normal;
		font-size: var(--font-size-card-title);
	}

	.offer p {
		font-size: var(--font-size-title);
	}
}

.container {
	display: flex;
}

.container_hidden {
	display: none;
}
