.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 800px;
	border: 10px solid var(--stroke-color);
	border-radius: 30px;
	background: var(--board-color);
	z-index: 100;

	ul {
		width: 80%;
		padding-block: 50px;

		.paragraph {
			font-size: var(--font-size-description);
			padding-block: 10px;
			line-height: 1.15;
		}
	}
}
