.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 550px;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	border: 2px solid var(--stroke-color);
	background: var(--board-color);
}
