.bar,
.checked_bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 35px;
	border: 2px solid var(--stroke-color);
	margin: 11px;
	background-color: var(--yellow-bar);
}

.bar p,
.checked_bar p {
	font-size: var(--font-size-bar);
	padding: 0;
}

.checked_bar {
	animation: checkAnimation 2s forwards;
}

@keyframes checkAnimation {
	0% {
		background-color: rgb(0, 0, 0);
		border-color: white;
	}
	50% {
		background-color: rgba(0, 0, 0, 0.5);
	}

	100% {
		background-color: white;
		border-color: black;
	}
}
