.container {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 550px;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	border: 2px solid var(--stroke-color);
	background: var(--board-color);

	.title,
	.choice,
	.summary {
		display: flex;
		height: calc(100% / 3);
	}

	.title {
		align-items: center;

		p {
			text-align: center;
			text-transform: uppercase;
			font-size: var(--font-size-card-title);
		}
	}

	.choice {
		justify-content: space-around;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.4);

		.case_container {
			position: relative;
			display: flex;
			width: 200px;
			height: 130px;
		}

		.case_img {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.case_button {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 60%;
			left: 51%;
			height: 97px;
			width: 123px;
			border: none;
			background-color: transparent;
			transform: translate(-50%, -50%);

			span {
				display: block;
			}

			.case_number {
				font-size: var(--font-size-case-number);
			}

			.case_value {
				font-size: var(--font-size-opened-case);
			}
		}

		.case_button:disabled {
			color: var(--font-main-color);
			cursor: default;
		}

		.case_button:hover {
			background-color: white;
		}

		.case_button:disabled:hover {
			background-color: transparent;
		}
	}

	.summary {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		p {
			text-align: center;
			font-size: var(--font-size-summary);
		}
	}
}
