.case_container {
	position: relative;
	display: flex;
	width: 130px;
	height: 80px;
	background-image: url(../../assets/case_img.png);
}

.case_img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.case_button {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 62%;
	left: 51%;
	height: 60px;
	width: 79px;
	border: none;
	background-color: transparent;
	transform: translate(-50%, -50%);

	.opened_case_container {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: -2%;
		width: 152%;
		height: 107%;
		border: 2px solid black;
		border-radius: 10px 10px 5px 5px;
		background-color: var(--case-color);
	}
}

.case_button:hover {
	background-color: white;
}

.case_button:disabled {
	color: var(--font-main-color);
	cursor: default;
	background-color: transparent;
}

.wait_to_click {
	cursor: default;
}

.chosen_case:disabled {
	color: var(--font-main-color);
	cursor: default;
	background-color: var(--my-case-color);
}

.case_number {
	font-size: var(--font-size-case-number);
}

.case_value {
	font-size: var(--font-size-opened-case);
	text-transform: lowercase;

	span {
		display: block;
	}
}
