* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 900px;
	width: 100vw;
	min-width: 1440px;
	font-family: 'Audiowide', sans-serif;
	color: var(--font-main-color);
	background-color: var(--stroke-color);
}

button {
	font-family: inherit;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: var(--button-hover-color);
}

.big_button {
	width: fit-content;
	min-width: 300px;
	height: 65px;
	padding: 10px 20px;
	font-size: var(--font-size-button);
	background-color: var(--button-color);
	border: 1px solid var(--stroke-color);
}

.background-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1440px;
	height: 900px;
	background-image: url(./assets/bgStudio.png);
}
