body {
	--font-size-comment: 16px;
	--font-size-description: 20px;
	--font-size-opened-case: 20px;
	--font-size-bar: 24px;
	--font-size-endgame-summary: 24px;
	--font-size-button: 28px;
	--font-size-summary: 28px;
	--font-size-card-title: 40px;
	--font-size-case-number: 48px;
	--font-size-title: 64px;

	--font-main-color: #000000;

	--button-color: #e77373;
	--button-hover-color: #ce3b3b;
	--board-color: linear-gradient(#fed3d3, #fdbefe);
	--yellow-bar: #ecda78;
	--white-bar: #ffffff;
	--stroke-color: #000000;
	--case-color: #d9d9d9;
	--opened-case-color: #ffffff;
	--my-case-color: #ecda78;
	--signs-color: #000000;
}
